.content {
    margin:8px;
    align-content: center;
}
ion-grid {
    width: 80%;
    margin:0px;
    align-content: center;
}
ion-col {
    border-style: solid;
    border-color: white;
}
.header {
    background-color:lightgreen;
}
  
.title {
    font-size: 24px;
    text-align: center;
    width: 80%;
}
.detail {
    background-color:khaki;
}
